@import viewmodels.user.UserGetListViewModel

@(model: UserGetListViewModel)

@main("UserIndex") {
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12">User List</h1>
        </div>

        <div>
            <table class="table">
                <th>User Name</th>

                @model.getUsers().map { user =>
                    <tr>
                        <td>
                            @user.getName()
                        </td>
                        <td>
                            <a href="@routes.UserController.detail(user.getId())" class="btn btn-primary">Detail</a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <a href="@routes.UserController.addInput" class="btn btn-primary">Add User</a>
            </div>
        </div>
    </div>
}